[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
beautifulsoup4 = "*"
stqdm = "*"
pypistats = "*"
markdownlit = "*"
pyyaml = "*"

[dev-packages]
watchdog = "*"
black = "*"

[requires]
python_version = "3.9"
